---
import Layout from '../layouts/Layout.astro';
import Central from "../layouts/elements/arrangement/Central.astro";
import LogoGR from "../components/LogoGR.astro";
import Sun from "../components/Sun.astro";
import Moon from "../components/Moon.astro";
---

<Layout title="Geert Lovink, 吼仇 叼仇叼 - dzikujemy">
    <main>
        <section class="pt-16 2xl:pt-4 flex h-full items-center justify-center min-h-screen">
            <Central>
                <h1 class="mt-4 text-5xl lg:text-8xl uppercase font-blockquote">
                    <Moon className="hidden sm:inline-block h-12 w-12 lg:h-24 lg:w-24 align-text-top"/>Dzikujemy<Sun className="hidden sm:inline-block h-12 w-12 lg:h-24 lg:w-24 align-text-top"/>
                </h1>
                <h2 class="text-lg lg:text-2xl font-blockquote">za zakupy w naszym sklepie</h2>
                <div class="mt-8 2xl:mt-16 max-w-sm mx-auto my-16">
                    <div>W zale偶noci od wybranej opcji dostawy ksi偶ki i czapki wylemy kurierem InPost lub bdzie mo偶na je odebra w naszym biurze pod adresem:</div>
                    <div class="uppercase my-4">
                        Apteka Designu,<br>
                        ul. Kopernika 19A, Krak贸w
                    </div>
                    <div>Je偶eli chcesz um贸wi si na odbi贸r, napisz do nas na grupa@robocza.org.</div>
                    <div>Wysyka i odbi贸r czapek nie wczeniej ni偶 17.12.2024!</div>
                </div>
                <a class="mx-auto inline-block" target="_blank" href="https://grupa.robocza.org/">
                    <LogoGR />
                </a>
            </Central>
        </section>
    </main>
</Layout>
