---
import Layout from '../layouts/Layout.astro';
import Central from "../layouts/elements/arrangement/Central.astro";
import LogoGR from "../components/LogoGR.astro";
import Sun from "../components/Sun.astro";
import Moon from "../components/Moon.astro";
---

<Layout title="Geert Lovink, 𝘞𝘺𝘮𝘪𝘦𝘳𝘢𝘯𝘪𝘦 𝘪𝘯𝘵𝘦𝘳𝘯𝘦𝘵𝘶 - dziękujemy">
    <main>
        <section class="2xl:pt-0 flex h-full items-center justify-center min-h-screen">
            <Central>
                <h1 class="mt-4 text-5xl lg:text-8xl uppercase font-blockquote">
                    <Moon className="hidden sm:inline-block h-12 w-12 lg:h-24 lg:w-24 align-text-top"/>Dziękujemy<Sun className="hidden sm:inline-block h-12 w-12 lg:h-24 lg:w-24 align-text-top"/>
                </h1>
                <h2 class="text-lg lg:text-2xl font-blockquote">za zakupy w naszym sklepie</h2>
                <div class="mt-8 2xl:mt-16 max-w-sm mx-auto my-16">
                    <div>W zależności od wybranej opcji dostawy książki i czapki wyślemy kurierem InPost lub będzie można je odebrać podczas premiery <i>Wymierania Internetu</i>:</div>
                    <div class="uppercase my-4">
                        środa, 04.12.2024, 18:00<br>
                        Apteka Designu,<br>
                        ul. Kopernika 19A, Kraków
                    </div>
                    <div>Jeżeli chcesz umówić się na odbiór innego dnia, napisz do nas na grupa@robocza.org.</div>
                </div>
                <a class="mx-auto inline-block" target="_blank" href="https://grupa.robocza.org/">
                    <LogoGR />
                </a>
            </Central>
        </section>
    </main>
</Layout>
