---
import Layout from '../layouts/Layout.astro';
import Central from "../layouts/elements/arrangement/Central.astro";

import {Content} from '../data/text.md';

---

<Layout title="Wymieranie internetu">
	<main class="h-screen">
		<Central>
			<address class="font-sans text-2xl sm:text-3xl lg:text-4xl 2xl:text-6xl not-italic mb-16 2xl:mb-32 uppercase">Geert Lovink</address>
			<h1 class="text-5xl sm:text-8xl lg:text-10xl 2xl:text-16xl uppercase font-pixel">
				W<span class="font-pixel-open">ymie</span>ranie<br>
				<span class="font-pixel-open">in</span>ter<span class="font-pixel-open">net</span>u
			</h1>
		</Central>
	</main>
	<article class="container mx-auto prose dark:prose-invert font-serif text-xl lg:text-2xl px-4">
		<Content />
	</article>
</Layout>
