---
import Layout from '../layouts/Layout.astro';
import Central from "../layouts/elements/arrangement/Central.astro";

import {Content as Text} from '../data/text.md';
---

<Layout title="Wymieranie internetu">
	<main class="h-screen">
		<Central>
			<address class="font-sans text-4xl not-italic mb-16 uppercase">Geert Lovink</address>
			<h1 class="text-10xl uppercase font-pixel">
				W<span class="font-pixel-open">ymie</span>ranie<br>
				<span class="font-pixel-open">in</span>ter<span class="font-pixel-open">net</span>u
			</h1>
		</Central>
	</main>
	<article class="container mx-auto prose dark:prose-invert font-serif text-2xl">
		<Text />
	</article>
</Layout>
