---
import Layout from '../layouts/Layout.astro';
import Article from "../components/Article.astro";
import Cover from "../components/Cover.astro";
---

<Layout title="Wymieranie internetu">
	<main>
		<Cover/>
		<Article/>
	</main>
</Layout>
