---
import Layout from '../layouts/Layout.astro';
import Article from "../components/Article.astro";
import Cover from "../components/Cover.astro";
---

<Layout title="Geert Lovink, ð˜žð˜ºð˜®ð˜ªð˜¦ð˜³ð˜¢ð˜¯ð˜ªð˜¦ ð˜ªð˜¯ð˜µð˜¦ð˜³ð˜¯ð˜¦ð˜µð˜¶">
	<main>
		<Cover/>
		<Article/>
	</main>
</Layout>
