---
import Layout from '../layouts/Layout.astro';
import About from "../components/About.astro";
---

<Layout title="Geert Lovink, ð˜žð˜ºð˜®ð˜ªð˜¦ð˜³ð˜¢ð˜¯ð˜ªð˜¦ ð˜ªð˜¯ð˜µð˜¦ð˜³ð˜¯ð˜¦ð˜µð˜¶ - o tekÅ›cie">
    <main>
        <About/>
    </main>
</Layout>
