---
import Layout from '../layouts/Layout.astro';
import Products from "../components/Products.astro";
---

<Layout title="Geert Lovink, ð˜žð˜ºð˜®ð˜ªð˜¦ð˜³ð˜¢ð˜¯ð˜ªð˜¦ ð˜ªð˜¯ð˜µð˜¦ð˜³ð˜¯ð˜¦ð˜µð˜¶ - o tekÅ›cie">
    <main>
        <Products/>
    </main>
</Layout>
