---

import LogoGR from "./LogoGR.astro";
import ColophonLink from "./ColophonLink.astro";

---

<section class="container w-full max-w-screen-md lg:max-w-screen-xl mx-auto font-serif px-4 relative">
        <div class="py-32 lg:py-48 lg:min-h-screen font-sans text-xl">
            <div class="grid gap-8 lg:grid-cols-2 lg:gap-32">
                <div class="text-left uppercase">
                    redaktorka prowadząca:<br>
                    Agnieszka Zgud<br>
                    <br>
                    tłumaczenie:<br>
                    Katarzyna Janota, Kuba Kulesza, Cezary Stępkowski, Agnieszka Zgud<br>
                    <br>
                    redakcja i korekta:<br>
                    Aleksandra Kleczka<br>
                    <br>
                    projekt i wykonanie strony internetowej:<br>
                    Maja Starakiewicz, Cezary Stępkowski<br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <a class="h-10" target="_blank" href="https://grupa.robocza.org/">
                        <LogoGR height={47} />
                    </a>
                    <br>
                    Fundacja Grupa Robocza<br>
                    ul. Mikołaja Kopernika 19A,<br>
                    31-531 Kraków<br>
                    grupa@robocza.org<br>
                    <br>
                    Kraków 2024
                </div>
                <div class="text-left">
                    Ta publikacja jest dostępna na licencji <ColophonLink text="Creative Commons Attribution NonCommercial ShareAlike 4.0 Unported (CC BY-NC-SA 4.0)" url="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.pl" />.<br>
                    <br>
                    W projekcie użyto krojów Karrik (aut. Jean-Baptiste Morizot, Lucas Le Bihan, <ColophonLink text="velvetyne.fr" url="https://www.velvetyne.fr/" />)
                    i Redaction (aut. Jeremy Mickel, <ColophonLink text="redaction.us" url="https://redaction.us/" />).<br>
                    <br>
                    Podziękowania dla Michała Krzykawskiego za uwagi dotyczące odniesień do Bernarda Stieglera.<br>
                </div>
            </div>
        </div>
</section>
