---
import ArticleImage from "./ArticleImage.astro";
import ArticleBlockquote from "./ArticleBlockquote.astro";

import {Content} from '../data/text.md';

import Image1 from '../assets/image1.png';
import Image2 from '../assets/image2.png';

---

<article id="wymieranie-internetu" class="container w-full max-w-screen-xl mx-auto font-serif py-8 lg:py-16 px-4 relative scroll-mt-[76px]">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-8 lg:gap-32">
        <div class="lg:col-span-2 prose dark:prose-invert text-xl lg:text-2xl">
            <Content />
        </div>
        <div class="flex flex-col items-center lg:items-end gap-2 lg:gap-8">
            <ArticleImage image={Image1} alt="alt" source="source"/>
            <ArticleImage
                    image={Image2}
                    alt="alt"
                    source="source"
            >
                <Fragment slot="translation">
                    are you asian or chinese?<br>
                    im chines but chinese is a type asian so<br>
                    you just came from china?<br>
                    no i was born insf<br>
                    si<br>
                    dope dope
                </Fragment>
            </ArticleImage>
        </div>
        <div class="lg:col-span-3">
            <ArticleBlockquote>
                czym nie da się mówić o tym trzeba szlochać. Sappho Bot — Blackcap; uczyńmy ciemność znów widoczną — egalitaryzm dla ciebie, elityzm dla mnie
                — potrzebuję przycisku odzobacz żeby usunąć z mózgu tweety, które ostatnio widziałem
                . Ben Grosser — czy uważam siebie za osobę wpływową. nie. chcę zrozumieć
                . Hannah Arendt — Jak to kurwa komputer będzie mnie pytał czy jestem robotem, ty zjebie sam jesteś robotem @briantheruller  — co da się zmierzyć, tym da się zarządzać. Simon Caulkin  — polecenie: przyślijcie klaunów
                —
                pamiętam zniszczenie
                —
                brechtowska maksyma: bierz przykład nie ze starych, dobrych rzeczy tylko z nowych, złych
                —
                już nie chodzi o socjalizm albo barbarzyństwo ale o dewzrost albo mad-max. Patrice Riemens
            </ArticleBlockquote>
        </div>
    </div>
</article>

