---
import ArticleImage from "./ArticleImage.astro";

import {Content} from '../data/text.md';

import Image1 from '../assets/image1.png';
import Image2 from '../assets/image2.png';
---

<div class="grid grid-cols-3 gap-4">
    <div class="col-span-2 prose dark:prose-invert text-xl lg:text-2xl">
        <Content />
    </div>
    <div class="flex flex-col items-end gap-8">
        <ArticleImage image={Image1} alt="alt" source="source"/>
        <ArticleImage
                image={Image2}
                alt="alt"
                source="source"
        >
            <Fragment slot="translation">
                are you asian or chinese?<br>
                im chines but chinese is a type asian so<br>
                you just came from china?<br>
                no i was born insf<br>
                si<br>
                dope dope
            </Fragment>
        </ArticleImage>
    </div>
</div>
