---
import ArticleBlockquote from "./ArticleBlockquote.astro";
import ArticleFootnote from "./ArticleFootnote.astro";
import Prose from "./Prose.astro";

import {Content as PrefaceContent} from '../data/preface.md';
import {Content as TextContent} from '../data/text.mdx';
import {Content as AfterwordContent} from '../data/afterword.md';
import {Content as BibliographyContent} from '../data/bibliography.md';

---

<article id="wymieranie-internetu" class="container w-full max-w-screen-md lg:max-w-screen-xl mx-auto font-serif py-8 lg:py-16 px-4 relative scroll-mt-[76px]">
    <div class="grid gap-8 lg:gap-32">
        <div>
            <Prose extraClass="font-sans opacity-70 text-sm lg:text-base uppercase mb-4 lg:mb-8">
                <PrefaceContent/>
            </Prose>
            <Prose id="text" extraClass="relative mb-16 lg:mb-64">
                <TextContent components={{blockquote: ArticleBlockquote, sup: ArticleFootnote }}/>
            </Prose>
            <h4 class="opacity-70 uppercase font-sans text-2xl lg:text-5xl mb-8 lg:mb-16">Od tłumaczx</h4>
            <Prose extraClass="font-sans opacity-70 text-base lg:text-xl mb-16 lg:mb-32">
                <AfterwordContent/>
            </Prose>
            <h4 class="opacity-70 uppercase font-sans text-2xl lg:text-5xl mb-8 lg:mb-16">Bibliografia</h4>
            <Prose extraClass="font-sans opacity-70 text-sm lg:text-base uppercase mb-8 lg:mb-16">
                <BibliographyContent/>
            </Prose>
        </div>
    </div>
</article>

<script>
    import tippy, {inlinePositioning} from 'tippy.js';

    document.addEventListener("DOMContentLoaded", function() {
        document.querySelectorAll('[data-footnote-ref]').forEach((footnoteElement) => {
            let footnoteId = footnoteElement.getAttribute('href');
            if (footnoteId === null) {
                return;
            }

            footnoteElement.addEventListener("click", function (event) {
                event.preventDefault()
            });

            let footnoteContent = document.getElementById(footnoteId.slice(1));
            if (footnoteContent === null) {
                return;
            }

            let footnotePopoverContent = document.createElement('div');
            let footnotePopoverContentInner = document.createElement('div');
            footnotePopoverContentInner.innerHTML = footnoteContent.innerHTML;
            footnotePopoverContentInner.className = 'prose bg-light dark:bg-dark font-sans prose dark:prose-invert text-black/70 dark:text-white/70 text-base lg:text-lg rounded-md border border-dark/70 dark:border-light/70 py-3.5 px-5';
            footnotePopoverContent.innerHTML = footnotePopoverContentInner.outerHTML;

            let footnotePopoverContentBackReference = footnotePopoverContent.querySelector('a[data-footnote-backref]');
            if (footnotePopoverContentBackReference !== null) {
                footnotePopoverContentBackReference.remove();
            }

            tippy('#' + footnoteElement.id, {
                allowHTML: true,
                arrow: false,
                content: footnotePopoverContent.innerHTML,
                placement: 'auto-start',
                inlinePositioning: true,
                plugins: [inlinePositioning],
                trigger: 'click',
                interactive: true,
                appendTo: () => document.body
            });
        });

        const observer = new IntersectionObserver(
            ((entries) => {
                entries.forEach(entry => {
                    if (entry.isIntersecting) {
                        let victim = entry.target.querySelector('[data-text-extinction-victim]');
                        if(victim) {
                            victim.classList.add('animate-fade-out');
                        }

                        let zombie = entry.target.querySelector('[data-text-extinction-zombie]');
                        if(zombie) {
                            zombie.classList.add('animate-fade-in');
                        }

                        return;
                    }

                    let victim = entry.target.querySelector('[data-text-extinction-victim]');
                    if(victim) {
                        victim.classList.remove('animate-fade-out');
                    }

                    let zombie = entry.target.querySelector('[data-text-extinction-zombie]');
                    if(zombie) {
                        zombie.classList.remove('animate-fade-in');
                    }
                });
            }),
            {
                rootMargin: '0px',
                threshold: 0.5
            }
        );

        document.querySelectorAll('[data-text-extinction]').forEach((element) => {
            if (element) {
                observer.observe(element);
            }
        });
    });
</script>
