---
import Central from "../layouts/elements/arrangement/Central.astro";
import Title from "./Title.astro";
import SimpleLink from "./SimpleLink.astro";
---
<section class="h-screen">
    <Central>
        <address class="font-pixel text-2xl sm:text-3xl lg:text-4xl 2xl:text-6xl not-italic mt-2 lg:mt-8 2xl:mt-16 mb-4 2xl:mb-8 uppercase">Geert Lovink</address>
        <h1 class="text-5xl sm:text-8xl lg:text-10xl 2xl:text-16xl uppercase font-serif"><Title/></h1>
        <div class="mt-4 2xl:mt-8">
            <SimpleLink url="#wymieranie-internetu" extraClassName="text-lg lg:text-2xl 2xl:text-3xl">
                <fragment slot="text">
                    <svg class="h-5 md: md:h-8 lg:h-auto mx-auto mt-2 md:mt-3 lg:mt-3.5 fill-black dark:fill-white" width="99" height="50" viewBox="0 0 99 50" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0H9.0006V4.54245H13.4976V9.0849H17.9946V13.6273H22.4917V18.1698H26.9887V22.7122H31.4857V27.2547H35.9827V31.7971H40.4798V36.3396H44.9768V40.882H53.9774V36.3396H58.4744V31.7971H62.9714V27.2547H67.4685V22.7122H71.9655V18.1698H76.4625V13.6273H80.9595V9.0849H85.4566V4.54245H89.9536V0H98.9542V4.54245H94.4572V9.0849H89.9601V13.6273H85.4631V18.1698H80.9661V22.7122H76.4691V27.2547H71.972V31.7971H67.475V36.3396H62.978V40.882H58.481V45.4245H53.9839V49.9669H44.9833V45.4245H40.4863V40.882H35.9893V36.3396H31.4923V31.7971H26.9952V27.2547H22.4982V22.7122H18.0012V18.1698H13.5042V13.6273H9.00714V9.0849H4.51012V4.54245H0V0Z"/>
                    </svg>
                </fragment>
            </SimpleLink>
        </div>
    </Central>
</section>
