---
import LogoMVU from "../components/LogoMVU.astro";
import LogoGR from "../components/LogoGR.astro";
import ReadingPositionIndicator from "../components/ReadingPositionIndicator.astro";
import SimpleLink from "./SimpleLink.astro";
import ThemeSelect from "./ThemeSelect.astro";
---

<nav class="transition-transform duration-300 ease-in-out top-0 z-40 flex-none mx-auto w-full border-b border-dark dark:border-light hidden lg:block fixed">
    <div class="absolute inset-0 bg-light dark:bg-dark opacity-90"></div>
    <div class="relative mx-auto w-full">
        <div class="flex justify-between lg:grid lg:grid-cols-3 px-4 h-16 lg:h-20">
            <div class="flex items-center justify-start gap-x-1 sm:gap-x-2 lg:gap-x-8">

            </div>
            <div class="flex items-center justify-center gap-x-1 sm:gap-x-2 lg:gap-x-8">

            </div>
            <div class="flex items-center justify-end gap-x-1 sm:gap-x-2 lg:gap-x-8">
                <ReadingPositionIndicator />
            </div>
        </div>
    </div>
</nav>

<header class="lg:transition-transform duration-300 ease-in-out top-0 z-50 flex-none mx-auto w-full border-b border-dark dark:border-light fixed">
    <div class="absolute inset-0 bg-light dark:bg-dark"></div>
    <div class="relative mx-auto w-full">
        <div class="grid grid-flow-col justify-between lg:grid-cols-3 px-4 h-16 lg:h-20">
            <div class="flex items-center justify-start sm:gap-x-2 lg:gap-x-8">
                <SimpleLink text="O książce" url="/o-ksiazce" extraClassName="uppercase" />
            </div>
            <div class="flex items-center justify-center sm:gap-x-2 lg:gap-x-8">
                <ThemeSelect/>
            </div>
            <div class="flex items-center justify-end sm:gap-x-2 lg:gap-x-8">
                <div class="flex lg:hidden items-center">
                    <ReadingPositionIndicator />
                </div>
                <a class="hidden lg:flex items-center" target="_blank" href="https://mvu.pl/">
                    <LogoMVU />
                </a>
                <a class="hidden lg:flex items-center" target="_blank" href="https://grupa.robocza.org/">
                    <LogoGR />
                </a>
            </div>
        </div>
    </div>
</header>
