---
interface Props {
    url: string;
    text: string;
    className?: string;
    extraClassName?: string;
}

const {
    url,
    text,
    className = "font-sans text-lg font-normal text-white underline underline-offset-4 hover:opacity-70",
    extraClassName = '',
} = Astro.props;

---
<a class:list={[
    className,
    extraClassName,
]} href={url}>{text}</a>
