---
import {Image} from 'astro:assets';
import Sun from '../assets/icons/sun.png';
import Moon from '../assets/icons/moon.png';
---

<button id="themeToggle" class="font-sans text-lg font-normal text-black dark:text-white hover:opacity-70 uppercase">
    <Image src={Moon}
           alt="Moon"
           class="h-8 w-8 mr-1 inline-block dark:hidden"/>
    <span class="inline dark:hidden underline underline-offset-4 ">Fuck the Sun</span>

    <Image src={Sun}
           alt="Sun"
           class="h-8 w-8 mr-1 hidden dark:inline-block"/>
    <span class="hidden dark:inline underline underline-offset-4 ">Fuck the Moon</span>
</button>
