---
import {Image} from "astro:assets";
import CoverImage from '../assets/cover.png';
---
<div class="py-4 2xl:py-8">
    <Image src={CoverImage}
           alt="Wymieranie internetu"
           class="max-h-96 w-auto px-4 xl:px-0"
           loading="eager"
    />
</div>
