---
import Header from "../components/Header.astro";
import Favicons from "../components/Favicons.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="pl" class="dark scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Wymieranie internetu - polskie tłumaczenie eseju Extinction Internet autorstwa Geerta Lovinka" />
		<meta name="viewport" content="width=device-width" />
		<Favicons />
		<title>{title}</title>

		<style is:global>
			@font-face {
				font-family: 'Karrik';
				src: url('/fonts/karrik/Karrik-Regular.ttf') format('truetype');
				font-weight: normal;
				font-style: normal;
				font-display: swap;
			}
			@font-face {
				font-family: 'TerminalGrotesque';
				src: url('/fonts/terminal-grotesque/terminal-grotesque.ttf') format('truetype');
				font-weight: normal;
				font-style: normal;
				font-display: swap;
			}
			@font-face {
				font-family: 'TerminalGrotesqueOpen';
				src: url('/fonts/terminal-grotesque/terminal-grotesque_open.otf') format('truetype');
				font-weight: normal;
				font-style: normal;
				font-display: swap;
			}
		</style>
	</head>
	<body class="relative w-full min-w-[320px] bg-light dark:bg-dark text-black dark:text-white">
		<Header/>
		<slot />

		<script>
			// @see: https://www.cssscript.com/show-hide-navbar-scroll-down-up/
			const header = document.querySelector('header');
			if(header !== null){
				let lastScroll = 0;
				window.addEventListener('scroll', () => {
					let currentScroll = window.scrollY;
					if (currentScroll - lastScroll > 0) {
						if (!header.classList.contains('-translate-y-full')){
							header.classList.add('-translate-y-full');
						}
					} else {
						header.classList.remove('-translate-y-full');
					}
					lastScroll = currentScroll;
				})
			}
		</script>
	</body>
</html>
